%p
  Logado como

  = session[:user].page

  %a{ href: "/..logout" } Logout
  |
  %a{ href: "/..sitemap" } Paginas
  |
  %a{ href: "/..list-users" } Usuarios
  - if session[:user] && session[:user].admin
    |
    %a{ href: "/..create-user" } Novo Usuario
