!border = #eee
!emphasis = #3895eb
!background = #ffffff
!foreground = #000

!item_menu_bg = #c76023
!item_menu_fg = #ffffff

!menu_hover = #714421
!menu_hover_fg = #ffffff

!text_color = #707070

!logo = #ffffff
//#baeeff

img
  :border 0

body
  :margin 0
  :color= !foreground
  :background-color= !background
  :font-family "Helvetica, Arial, sans-serif"

form
  input, textarea
    :border= 1px "solid" !foreground
    :background-color= !border

  textarea
    :width 400px
    :height 400px

  input[type=text]
    :width 250px

  label
    :display inline-block
    :width 145px
    :font-family monospace
    :padding-bottom 10px

#structure
  :width 640px
  :margin-left auto
  :margin-right auto

#logo
  a
    :display block
    :width 640px
    :height 256px

  :background-image url("/sinec.jpg")
  :background-color #ffffff
  :width 640px
  :height 256px
  //:background-color= !logo
  //:text-align center
  :border-bottom= 2px "solid" !border
  
  //:padding-bottom 100px
  //.left
  //  :float left

#header
  p
    :text-align center

  .right
    :float right
  a.edit
    :float left

#main
  :background #ffffff

  //:padding 3px
  //:float left

  #menu
    //:background-image url('bar.jpg')
    //:background-color #003454
    //:width 10%
    //:float left
    //:display block

    //:padding-right 10px
    //:padding-left 10px

    //:width 160px

    //:background-repeat repeat-x
    //:background-position center

    //:height 28px
    //:display table

    :text-align center
    //:position relative
    :padding-top 0px
    :margin-top 6px
    p
      :margin-top 10px
      //:position relative
      //:line-height 28px
      //:vertical-align bottom
    a
      :border 1px solid  #236c99
      //:padding-left 7px
      :padding-top 3px
      :padding-bottom 3px
      //:width 120px
      :font-family 'monospace'
      :text-decoration none
      //:display block
      //:width 32%
      :color= !item_menu_fg
      :background-color #2f90cc
      //:padding 4px
      :margin 2px
      :color= !item_menu_fg
      &:hover
        :background-color #003454
        :color= !menu_hover_fg
        :font-weight 700

    //:margin 0px
    //:padding 0px
    //:list-style none

  p#adm
    :text-align right

  #page
    :color= !text_color
    :font-size 0.9em
    :padding-top 0px
    :margin-top 0px
    :margin-left 15px

    :display inline
    :float left
    h1
      :padding-top 0px
      :margin-top 0px
      :font-size 1.3em

    a
      //:text-decoration none
      :color= !emphasis

      &:hover
        :background-color= !emphasis
        :color= !background

      &.bad
        :text-decoration line-through

  form#edit-page
    :padding-bottom 20px
    :border-bottom= 2px "solid" !border
    :margin-bottom 20px
    :width 410px

    .markup
      :float right
      :font-family monospace
      :padding-right 10px

  pre
    :border-left= 3px "solid" !border
    :padding 10px

  pre.simple
    :border none
    :padding none
    :font-family normal

  blockquote
    :margin 0px
    :padding 10px
    :font-style italic
    :border-left= 3px "solid" !border

    p
      :display inline
      :white-space pre

#footer
  :border-top= 2px "solid" !border
  :padding 5px

  a
    :font-size 0.7em
    :text-decoration none
  :text-align right

  .copyleft
    :font-family monospace
    :float right

