%form{ :action => "/..create-user", :method => "post"}
  %p Email:
  %input{ :name => "email", :type => "text", :size => "30"}
  %p Password:
  %input{ :name => "password", :type => "password", :size => "30"}
  %p Pagina:
  %input{ :name => "page", :type => "text", :size => "30"}
  %br
  %input{ :name => "submit", :type => "submit", :value => "Submit"}
