//%a{ href: "/" } Home
%a{ href: "/local" } Local
%a{ href: "/programacao" } Programa&ccedil;&atilde;o
%a{ href: "/inscricao" } Inscri&ccedil;&atilde;o
%a{ href: "/trabalhos" } Submiss&atilde;o de Trabalhos
%a{ href: "/contato" } Contato
//%a{ href: "/organizacao" } Organiza&ccedil;&atilde;o
//%a{ href: "/..login" } Login
//%a{ href: "/..list-users" } List
//%a{ href: "/..sitemap" } Mapa

