%a{ href: "/" }
  Home
%a{ href: "/local" }
  Local
%a{ href: "/programacao" }
  Programa&ccedil;&atilde;o
%a{ href: "/inscricao" }
  Inscri&ccedil;&atilde;o
%a{ href: "/trabalhos" }
  Submiss&atilde;o de Trabalhos
%a{ href: "/organizacao" }
  Organiza&ccedil;&atilde;o
%a{ href: "/contato" }
  Contato
